<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>ts=%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} traceId=%X{traceId:-} spanId=%X{spanId:-} level=%-5.5level logger=%-36.36logger{36} msg="%msg" thread="%thread"%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>