<nav class="nav" role="navigation" id="nav">
    <div id="logo" class="logo" ></div>
    <a href="javascript:void(0);" class="hidden status negative" id="status">Server Offline</div>
    <a href="/">Home</a>
    <a id="quickpingbtn" href="javascript:void(0);">Quick Ping</a>
    <a href="${svc-ping-path}">Ping</a>
    <a href="${svc-definition-path}">Open API</a>
    <a href="${svc-camel-definition-path}">Camel Open API</a>
    <a href="${swagger-ui-path}">Swagger UI</a>
    <a id="menubtn" href="javascript:void(0);" class="action-btn">=</a>
</nav>
