@import url("framework/fonts/overpass-webfont/overpass.css");
@import url("framework/fonts/overpass-mono-webfont/overpass-mono.css");

body {
	font-family: overpass,sans-serif;
	margin: 0px;
	overflow-y:scroll;
}

.jumbotron {
	background: #719d7d;
}

.jumbotron h1 {
	color: white;
	letter-spacing: 0.2em;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0em ;
	margin-bottom: 0em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: 500;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	text-transform: uppercase;
}
  
.nav li {
	float: left;
}
  
.nav li a {
	display: block;
	color: white;
	padding: 14px 14px;
	text-decoration: none;
}

.nav li a:hover {
	background-color: darkslategray;
}

.flex-container {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
}