<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://camel.apache.org/schema/spring ./../xsd/camel-spring.xsd">
    <route id="http-receiver">
        <from id="http-receiver-starter" uri="platform-http:/ping" />
        <setHeader id="set-header-http-receiver" name="Content-Type">
            <constant>application/json</constant>
        </setHeader>
        <setBody id="set-body-http-receiver">
            <constant>{"msg" : "HELLO"}</constant>
        </setBody>
    </route>

    <route id="send-msg">
        <from id="send-socket-msg-to-all-starter" uri="platform-http:/send-msg"/>
        <convertBodyTo type="java.lang.String"/>
        <unmarshal>
            <json library="Jackson"/>
        </unmarshal>
        <log message="${body}"/>

        <bean ref="viewUpdate" method="upsertData(${body}, person, state-table)"/>
        <bean ref="viewUpdate" method="appendData(${body}, person, log-table)"/>

        <marshal>
            <json library="Jackson"/>
        </marshal>
    </route>

    <route id="get-ping-route">
        <from uri="direct:get-ping"/>
        <setBody>
            <constant>pong</constant>
        </setBody>
    </route>

#if (${cxfSupport} == 'true')
    <route>
        <from uri="cxf:bean:cxfPayload"/>
        <convertBodyTo type="java.lang.String"/>
        <log message="${body}"/>
    </route>

#end

</routes>