<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring-3.5.0.xsd">
    <route id="http-receiver">
        <from uri="timer:from-xml?period=1000"/>
        <log message="toto"></log>
    </route>
</routes>