<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring-${camel-version}.xsd">
    <route id="http-receiver">
        <from id="http-receiver-starter" uri="platform-http:/ping" />
        <setHeader id="set-header-http-receiver" name="Content-Type">
            <constant>application/json</constant>
        </setHeader>
        <setBody id="set-body-http-receiver">
            <constant>{"msg" : "HELLO"}</constant>
        </setBody>
    </route>

    <route id="send-socket-msg-to-all">
        <from id="send-socket-msg-to-all-starter" uri="platform-http:/send-msg"/>
        <convertBodyTo type="java.lang.String"/>
        <log message="${body}"/>
        <to uri="ahc-ws:{{quarkus.http.host}}:{{quarkus.http.port}}/websocket"/>
    </route>

</routes>